/* Bootstrap
 * -------------------------------------------------- */
$navbar-margin-bottom:  0;

@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// BOOTSTRAP OVERRIDES
$navbar-height: 100px;


/* Slick Carousel
 * -------------------------------------------------- */
 $slick-font-family: 'FontAwesome';
 $slick-loader-path: '../';
 $slick-arrow-color: $text-color;
 $slick-dot-color: $text-color;
 // $slick-dot-color-active: $slick-dot-color;
 $slick-prev-character: "\f053";
 $slick-next-character: "\f054";
 $slick-dot-character: "\f111";
 $slick-dot-size: 9px;

@import 'bower_components/slick-carousel/slick/slick.scss';
@import 'bower_components/slick-carousel/slick/slick-theme.scss';

// SLICK OVERRIDES
.slick-prev {
  left: 25px;
  z-index: 1;
}
.slick-next {
  right: 25px;
}

.slick-dots {
  bottom: 0;
}

// CAROUSEL
.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 0;
}

#jumbotron-carousel:not(.slick-initialized) .jumbotron {
  display: none;
}


/* Custom Normalize
 * -------------------------------------------------- */
@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }


/* Offcanvas Navigation
 * -------------------------------------------------- */
html,
body {
  overflow-x: hidden;
}
.navbar-brand-img {
  float: left;
  img {
    max-height: $navbar-height;
    width: auto;
  }
}

@media screen and (max-width: $screen-xs-max) {
  .navbar-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .navbar-brand {
    position: absolute;
  }

  .navbar-toggle {
    order: 1;
    color: #{$navbar-inverse-toggle-icon-bar-bg};

    &.pull-left {
      margin-right: 0;
      margin-left: #{$grid-gutter-width / 2};
      order: -1;
    }
  }

  .row-offcanvas {
    position: relative;
    transition: all .25s ease-out;
  }

  .row-offcanvas
  .sidebar-offcanvas {
    background-color: #{$navbar-inverse-bg};
    padding: 0;
  }

  .row-offcanvas
  .sidebar-offcanvas
  a.list-group-item {
    color: #{$navbar-inverse-link-color};
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #{$navbar-inverse-border};
    border-radius: 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
    text-align: right;
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
    height: 100%;
  }

  .row-offcanvas .offcanvas-backdrop {
    display: none;
    opacity: 0;
  }
  .row-offcanvas.active .offcanvas-backdrop {
    background-color: #{$navbar-inverse-bg};
    display: block;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 200%;
  }
  .row-offcanvas-right.active .offcanvas-backdrop {
    right: 100%;
  }
  .row-offcanvas-left.active .offcanvas-backdrop {
    left: 100%;
  }

  .navbar-form {
    border-style: none;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .navbar .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .navbar-header {
    order: -1;
  }

  .navbar-collapse {
    order: 1;
  }
}


/* Utilities
 * -------------------------------------------------- */
.no-gutter {
  margin-right: -15px;
  margin-left: -15px;
}
